doctype html
html(lang="en")
	head
		title Pong Tool
		link(href='/css/style.css', rel='stylesheet')
	body
		.score
			.p1.points
				p 0
			.p2.points
				p 0
		
		.container
			canvas#gameTable(width='1500px' height='1000px')
		
		script(src="/js/index.js")

