doctype html
html(lang="en")
	head
		title Pong Tool
		link(href='/css/style.css', rel='stylesheet')
	body
		.score
			.p1.points
				p 0
			.p2.points
				p 0
		.table
			#ball
			#player1.player
			#player2.player
			.divider
		
		script(src="/js/index.js")

